.nav {
    grid-area: n;
    background-color: mistyrose;
    padding: 20px;
}

.item {
    color: grey;
    padding-bottom: 5px;
    text-decoration: none;
}

.item a.active {
    color: black;
    text-decoration: none;
}